# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Academics\3-1\CSE 308 Software Engineering Sessional\Offline\Week 3\Adapter and Decorator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
